//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(8) rem(24);
   font-size: rem(16);
   line-height: math.div(21 , 16);
   color: #fff;
   background-color: #8DD83D;
   transition: background-color 0.3s ease 0s;
   cursor: pointer;

   border-radius: 4px;
   
   // .mainslider__button_gray

   &__gray {
      transition: all 0.3s ease 0s;

      background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
      @media (any-hover: hover) {
         &:hover {
            background: linear-gradient(180deg, #186c6f 0%, #375a3c 100%);
         }
      }
   }
	@media (any-hover: hover) {
		&:hover {
         background-color: #1aD83D;
		}
	}

}
